node_modules
.env
coverage
coverage.json
typechain
packages/bundler/src/typechain-types
cache
artifacts
.DS_Store
/.idea/bundler.iml
/.idea/modules.xml
/packages/bundler/tsconfig.tsbuildinfo
tsconfig.tsbuildinfo
/packages/utils/src/types/
/.idea/codeStyles/Project.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/inspectionProfiles/Project_Default.xml
/packages/bundler/typechain-types/
/packages/bundler/deployments/
**/dist/
/packages/bundler/src/types/
yarn-error.log
.vscode
test.ts
test2.ts
test3.ts
test4.ts
test5.ts
test6.ts
/dockers/server/server-sync-debug
.env.production
out
bundler-config-production.json